body {background:#222;}

.loading {
  background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
  opacity: 0;
}
.loaded section,
.no-js section {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
main {
  overflow-x: hidden;
}
#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hsContainer {
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  min-height: 100%;
}

.hsContainer-inner {
  display: table-cell;
  vertical-align: middle;
}

/* Slides */

#slide-1 h1, #slide-1 h2, #slide-1 h3 {margin:0;text-shadow: 0 1px 3px rgba(0,0,0,.5);}

#slide-1 h1 {font-size: 64px;}

#slide-1, #slide-2 {color:#fff;}

.hsContainer .brand {margin:auto;margin-top:-40px;margin-bottom:-40px;}

/* Slide 1 */
#slide-1 .bcg {background: #f0ad4e url("../img/background.svg")}

/* Slide 2 */
#slide-2 .bcg {background: #5cb85c url('../img/background.svg')}

/* Slide 3 */
#slide-3 .bcg {background: #5bc0de url('../img/background.svg')}

/* Slide 4 */
#slide-4 .bcg {background: #337ab7 url('../img/background.svg')}
