/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: url("../img/background.svg") 50% 0 no-repeat;
  background-attachment: fixed;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.section-wrapper {
  display: table;
  width: 100%;
  height: 100%; 
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.section-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

/* 
 * Sections 
 */

 #welcome {
  background-color: #c0392b;
}

#services {
  background-color :#e74c3c;
}
